// Enables Tribune colors, but is required for everything.
@import 'base-variables';
@import 'base-config'; // If you are using the off-platform blueprint, uncomment this.

$desktop-min-width: 1000px;
$tablet-min-width: 800px;
$phablet-min-width: 550px;

$special-needs-color: $trib-orange;
$special-needs-color-muted: lighten($special-needs-color, 30%);

// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------

%flatButton{
	@include sans-serif();
	display:block;
	padding: $grid-gap / 2;
	border:none;
	background: rgba($trib-gray4, .8);
	cursor: pointer;
	transition: background 150ms ease;

	&:hover{
		background: $trib-gray4;
		transition: background 150ms ease;
	}
}

// ---- TRIB CLASSES, UNCOMMENT THE ONES YOU WANT -----------------------------------
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';

// ---- OFF-PLATFORM COMPONENT STYLES, UNCOMMENT THE ONES YOU WANT --------------------
// ---- (You'll need most or all of them) ---------------------------------------------
// @import 'base-scaffolding';
// @import 'base-footer';
// @import 'base-navbar';
// @import 'base-social';
// @import 'base-byline';
// @import 'base-adverts';
// @import 'base-comments';
// @import 'base-call-to-action';
// @import 'base-hamburger';
@import '../node_modules/flickity/dist/flickity.min';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------



// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------

.sr-only{
	// Use this to hide elements from everything except screen readers.
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

body{
	padding: 0;
	margin:0;
}

.sn-toggle{
	@extend %flatButton;

	display:flex;
	align-items: center;


	&:before{
		content: "";
		display: block;
		height: 1em;
		width: 1em;
		background: $special-needs-color;
		margin-right: .25em;
	}

	&__label--show-only{
		display:none;
	}

	&--active{
		background: rgba($special-needs-color, .8);
		transition: background 150ms ease;
		color: #{set-text-color($special-needs-color, true)};

		&:hover{
			background: $special-needs-color;	
		}

		&:before{
			background: $special-needs-color-muted;
		}

		.sn-toggle__label--show-only{
			display:inline;
		}

		.sn-toggle__label--show-all{
			display:none;
		}
	}
}


.toggles{
	margin: $grid-gap 0;
}

.reports{
	list-style:none;
	margin: 0;
	padding: 0;

	@supports ((display:grid) and (grid-row: 1/-1)){
		display:grid;
		grid-gap: $grid-gap;		
	}

	@supports not ((display:grid) and (grid-row: 1/-1)){
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.report{
			margin-bottom: $grid-gap;
		}
	}
}

.reports.reports--gallery{
	display:block;
	margin: $grid-gap 0;
	.report{
		width: 100%;
		max-width: 320px;
	    min-height: 99%; // 99% so the box shadow still appears
	    margin-right: $grid-gap / 2;
	}

}

.report{
	@include sans-serif();

	background: $trib-gray4;
	border-radius: 5px;
	padding: $grid-gap / 2;
	box-sizing: border-box;
	box-shadow: 2px 2px 3px rgba(black, .35);

	display:none;
	flex-flow:column;

	&--special-needs{
		background: $special-needs-color-muted;
	}

	&--visible{
		display:flex;
	}

	&__school{
		font-size: 1.5em;
		line-height: 1.3em;
		margin: 0;
	}

	& > * + *{
		// This will select all the elements inside the .report, starting with the second one. 
		// Puts a uniform spacing inside no matter what we've got going on in there.
		margin: 1rem 0 0 0;
	}

	& > * + *:nth-last-child(2){
		// This follows the above rule, but also puts a botttom margin on the second-to-last item.
		margin: 1rem 0;
	}

	&__date{
		margin-top: auto; // So it always sits on the bottom
		dd, dt{
			float: left;
		}
		dt{
			font-weight: bold;
			clear:left;
			&:after{
				content: ":";
				margin-right: 5px;
			}
		}

		dd{
			margin-left: 0;
		}
	}
}


// .credits, .trb_mainContent .credits {
// 	// All notes, sources and credits should go inside a container class='credits'
// 	// and should use the agate type style. No italics
// 	p{ @include agate(); }
// }




// ##############################################
// If you are using the off platform rig, then uncomment this code. otherwise you can delete it.
// ##############################################

p{
	font: 15px/1.6em $serif-fonts;
	margin: 0 0 #{$grid-gap / 2} 0;
}

a{
	color: $color-links;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}


// This is the paywall/meter/registration sticky note at the bottom of the page
// .met-flyout .met-promo-content{
// 	p {
// 		line-height: 1.3em;
// 		font-family: "Arial", sans-serif;
// 		span{
// 			font: 14px/1.3em "Arial", sans-serif;
// 			color:white;
// 			width:100%;
// 			margin: 0;

// 			&:first-of-type{
// 				font-weight: 700;
// 			}

// 			a {
// 				font: 14px/1.3em "Arial", sans-serif !important;
				
// 			}
// 		}
// 	}
// }

@media all and (min-width: $phablet-min-width){
	// By default, this is 450px+
	.reports{
		@supports ((display:grid) and (grid-row: 1 / -1)){
			grid-template-columns: repeat(2, 1fr);
		}

		@supports not ((display:grid) and (grid-row: 1 / -1)){
			.report{
				width: calc(50% - #{$grid-gap / 2});
			}
		}
	}
	p{
		font-size: 18px;
		line-height: 1.5em;
	}
}

@media all and (min-width: $tablet-min-width){
	.reports{
		@supports ((display:grid) and (grid-row: 1 / -1)){
			grid-template-columns: repeat(3, 1fr);
		}

		@supports not ((display:grid) and (grid-row: 1 / -1)){
			.report{
				width: calc(33% - #{$grid-gap / 2});
			}
		}
	}
}

@media all and (min-width: $desktop-min-width){
	// ONLY CHANGES FOR DESKTOPS
	// By default, this is 850px+
	.reports{
		@supports ((display:grid) and (grid-row: 1 / -1)){
			grid-template-columns: repeat(4, 1fr);
		}

		@supports not ((display:grid) and (grid-row: 1 / -1)){
			.report{
				width: calc(25% - #{$grid-gap / 2});
			}
		}
	}
}