<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta charset="UTF-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="//{{ ROOT_URL }}/css/styles.css">
</head>
<body>
	<header class='header river'>
		<h1 class='headline'>Header here</h1>
		{{ intro|markdown }}
		<nav class='toggles'>
			<button id='special-needs-toggle' class='sn-toggle' aria-role='button'>
				<span class='sn-toggle__label sn-toggle__label--show-all'>Only show special needs</span>
				<span class='sn-toggle__label sn-toggle__label--show-only'>Show all incidents</span>
			</button>
		</nav>
	</header>
<div class='reports reports--gallery'>
		{% for report in reports[1:]|sort(attribute="SCHOOL_NAME") %}
			{% set special_needs = False %}
			{% if report.SPECIAL_NEEDS_OFFENDER == 1 or report.SPECIAL_NEEDS_victim == 1 %}
				{% set special_needs = True %}
			{% endif %}

			{% if report.INCIDENT_DATE_DISPLAY %}
				{% set date = report.INCIDENT_DATE_DISPLAY %}
			{% elif report.INCIDENT_DATE %}
				{% set date = report.INCIDENT_DATE|xldate_to_datetime|format_date_with_strftime("%b %-d, %Y", True) %}
			{% else %}
				{% set date = False %}
			{% endif %}

			<div class='carousel-cell report report--visible {% if special_needs %}report--special-needs{% endif %}'>
				<h1 class='report__school'>{{ report.SCHOOL_NAME|process_text }}</h1>
				{% if report.DESCRIPTION %}{{ report.DESCRIPTION|markdown }}{% endif %}
				{% if date %}
					<dl class='report__date'>
						<dt>Incident date</dt>
						<dd>{{ date }}</dd>
					</dl>
				{% endif %}
			</div>
		{% endfor %}
	</div>
	<script type="text/javascript" src='//{{ ROOT_URL }}/js/app.min.js'></script>
</body>
</html>